<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Please sign in</h2>
    <form method="post" action="/login">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>
    </form>
    <div>
        <a href="/register">Register</a> <!-- Ten link prowadzi do strony rejestracji -->
    </div>
</body>
</html>
